In [3]:
import pandas as pd

s = pd.read_excel("Sesame.xlsx")
a = pd.read_csv("artists.csv")

In [37]:
b = a.groupby(["Nationality"]).first()
c = b.groupby(["Gender"]).groups
c

{'Female': ['Afghan', 'Angolan', 'Bahamian', 'Burkinabe', 'Chilean', 'Icelandic', 'Israeli', 'Kenyan', 'Kuwaiti', 'Macedonian', 'Pakistani', 'Paraguayan', 'Polish', 'Singaporean'], 'Male': ['Albanian', 'Algerian', 'American', 'Argentine', 'Australian', 'Austrian', 'Azerbaijani', 'Belgian', 'Bolivian', 'Bosnian', 'Brazilian', 'British', 'Bulgarian', 'Cambodian', 'Cameroonian', 'Canadian', 'Canadian Inuit', 'Chinese', 'Colombian', 'Congolese', 'Costa Rican', 'Croatian', 'Cuban', 'Cypriot', 'Czech', 'Czechoslovakian', 'Danish', 'Dutch', 'Ecuadorian', 'Egyptian', 'Estonian', 'Ethiopian', 'Filipino', 'Finnish', 'French', 'Georgian', 'German', 'Ghanaian', 'Greek', 'Guatemalan', 'Guyanese', 'Haitian', 'Hungarian', 'Indian', 'Indonesian', 'Iranian', 'Iraqi', 'Irish', 'Italian', 'Ivorian', 'Japanese', 'Kazakhstani', 'Korean', 'Kyrgyzstani', 'Latvian', 'Lebanese', 'Lithuanian', 'Luxembourgish', 'Malaysian', 'Malian', 'Mauritanian', 'Mexican', 'Moroccan', 'Mozambican', 'Namibian', 'Nationality unknown', 'Native American', 'New Zealander', 'Nicaraguan', 'Nigerian', 'Norwegian', 'Palestinian', 'Panamanian', 'Peruvian', 'Portuguese', 'Puerto Rican', 'Romanian', 'Russian', 'Rwandan', 'Saudi Arabian', 'Scottish', 'Senegalese', 'Serbian', 'Slovak', 'Slovenian', 'South African', 'Spanish', 'Sudanese', 'Swedish', 'Swiss', 'Syrian', 'Taiwanese', 'Tajik', 'Tanzanian', 'Thai', 'Tunisian', 'Turkish', 'Ugandan', 'Ukrainian', 'Uruguayan', ...]}

In [21]:
s["Total Price"] = s.Quantity * s["Unit Price"]