In [16]:
import pandas as pd
df = pd.read_csv("artworks.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130262 entries, 0 to 130261
Data columns (total 21 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Artwork ID          130262 non-null  int64
 1   Title               130210 non-null  object
 2   Artist ID           128802 non-null  object
 3   Name                128802 non-null  object
 4   Date                127950 non-null  object
 5   Medium              118343 non-null  object
 6   Dimensions          118799 non-null  object
 7   Acquisition Date    124799 non-null  object
 8   Credit              127192 non-null  object
 9   Catalogue           130262 non-null  object
 10  Department          130262 non-null  object
 11  Classification      130262 non-null  object
 12  Object Number       130262 non-null  object
 13  Diameter (cm)       1399 non-null    float64
 14  Circumference (cm)  10 non-null      float64
 15  Height (cm)         111893 non-null  float64
 16  Length (cm)         736 non-null     float64
 17  Width (cm)          111003 non-null  float64
 18  Depth (cm)          11443 non-null   float64
 19  Weight (kg)         298 non-null     float64
 20  Duration (s)        3084 non-null    float64
dtypes: float64(8), int64(1), object(12)
memory usage: 20.9+ MB

In [17]:
u = df.Medium.unique()
print(len(u))

19349

In [24]:
df["Circumference (cm)"].dropna().median()

36.0

In [56]:
df.loc[df["Weight (kg)"].gt(2000)].Name.value_counts()

Richard Serra          7
Tony Smith             1
Cai Guo-Qiang          1
Alexander Liberman     1
Ellsworth Kelly        1
Barnett Newman         1
David Rabinowitch      1
Martin Kippenberger    1
Name: Name, dtype: int64

In [96]:
df.loc[df["Weight (kg)"].gt(25) & df["Height (cm)"].gt(100) & df["Depth (cm)"].gt(100)][["Name", "Height (cm)", "Depth (cm)", "Weight (kg)"]].value_counts()

Name                                                                         Height (cm)  Depth (cm)   Weight (kg)
Alexander Liberman                                                           394.600000   277.200000   2948.380700     1
Anthony Caro                                                                 185.500000   358.300000   479.905700      1
Tony Smith                                                                   521.300000   414.700000   4000.000005     1
Tim Scott                                                                    266.300000   292.400000   99.110900       1
Robert Hudson                                                                139.900000   136.700000   69.853900       1
Richard Serra                                                                373.400000   990.600000   26762.224440    1
                                                                             152.400305   182.880366   80000.000000    1
Pablo Picasso                                                                395.300000   319.300000   340.197800      1
Olle Baertling                                                               280.600000   147.300000   30.844600       1
Martin Kippenberger                                                          289.560600   822.961600   2600.000000     1
Joe Goode                                                                    103.800000   138.900000   40.596900       1
Gilberto Zorio                                                               189.200000   260.400000   59.999953       1
Ellsworth Kelly                                                              262.700000   173.700000   362.877600      1
Dinh Q. LÃª, Hai Quoc Tran, Le Van Danh, Phu-Nam Thuc Ha, Tuan Andrew Nguyen  883.921768   350.520701   498.956727      1
Claes Oldenburg                                                              369.700000   452.900000   362.877600      1
Barnett Newman                                                               749.936500   318.770600   3628.776200     1
Auguste Rodin                                                                282.000000   104.200000   589.676100      1
Arthur Young                                                                 281.305600   1271.907500  625.963900      1
Anthony Caro                                                                 235.585471   378.460757   1081.375300     1
Ursula von Rydingsvard                                                       284.480569   101.600203   707.611358      1
dtype: int64

## Quiz 3 Answers

1. 19349
2. 36
3. Circumference (cm)
4. Richard Serra
5. ...